.formControl {

}

.formControl.error input,
.formControl.error textarea{
    border: 2px solid #b60000;
}

.formControl.error span{
    color:#b60000;
}

.formSummaryError {
    border: 2px solid #b60000;
    padding: 5px;
    color: #b60000;
}