.nav {
    grid-area: n;
    background-color: #8a2be2;
    border: 2px solid #572c8d;
    border-right-style: none;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 52px;
    border: 2px solid #8a2be2;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    margin-left: 15px;
}

.item a {
    color: #bdb6b6;
    text-decoration: none;
    font-family: 'Monserrat';
    font-size: 25px;
}
.item a:hover {
    color: white;
}

.item a.activeLink {
    color: white;
    text-decoration: none;
    font-family: 'Monserrat';
}