.postItemWrapper {
    display: flex;
    position: relative;
    width: 580px;
    border: rgb(238, 236, 236);
    padding: 25px;
    margin-bottom: 10px;
    background-color: rgb(238, 236, 236);
}

.postItemWrapper img {
    width: 70px;
    height: 66px;
    border-radius: 50px;
    border: 2px solid  rgba(199, 199, 199, 0.88);
}

.postItem{
    margin: 5px 5px 5px 15px;
    width: 490px;
    color: #000000;
    font-size: 18px;
    font-family: 'Monserrat';
    word-wrap: break-word;
}

.postLikeTimeWrapper{
    margin-left: 10px;
    margin-top: 10px;

}

.postTime{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #000000;
    font-size: 17px;
}

.postLike{
    position: absolute;
    right: 90px;
    font-size: 15px;
    padding-bottom: 0px;
}

